html, body {
  height: 100%;
  background-color: rgb(21, 32, 43)!important;
  text-align: center;
}

.lobby, .game {
  background: rgb(21, 32, 43);
  color: #D3D3D3;
  height: 100%;
}

.join-game-input {
  margin-bottom: 0!important;
}

#leave-game {
  position: absolute;
  top: 0;
  right: 10px;
}

.row {
  padding: 10px 0;
}

.col-3, .col-11 {
  height: 100%;
}

.col-3 {
  padding-right: 0!important;
}

.panel {
  border: 1px solid #37434D;
  align-items: center;
  justify-content: center;
}

.panel-heading {
  border-bottom: 1px solid #37434D;
  padding: 20px;
  display: flex;
  align-items: center;
}

.panel-body {
  padding: 10px;
}

.game-log-container {
  height: 100%;
  text-align: left;
  position: relative;
}

.game-log-header {
  border-bottom: 1px solid #37434D;
  padding: 10px;
}

.game-log {
  padding: 10px 15px;
  height: 80%;
  width: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  background: rgb(21, 32, 43);
  z-index: -1;
}
::-webkit-scrollbar-track {
  background: rgb(21, 32, 43);
}
::-webkit-scrollbar-corner {
  background: rgb(21, 32, 43);
}

#message-content {
  display: block;
  background: #263341;
  border: 1px solid #263341;
  color: #fafafa;
}

#send_message {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 10px 0;
}

#send_message_button {
  display: block;
}

.opponents {
  height: 30%;
  align-items: center;
  justify-content: center;
}

.opponent {
  display: inline-block;
  border: 1px solid #37434D;
  height: 100%;
  width: 30%;
  margin: 0 10px;
}

.cribbage-table {
  height: 30%;
  text-align: center;
  align-items: center;
  padding: 15px;
}

.player {
  height: 40%;
}

.player-nickname {
  width: 30%;
}

.opponent-nickname {
  width: 97%;
}

.player-points {
  margin-left: auto;
}

.dealer-icon {
  padding-right: 5px;
  color: gold;
}

.current-turn-icon {
  padding-right: 5px;
  color: #1CA1F2;
}

.player-action, .player-cards {
  display: inline-block;
}

.player-play-area {
  height: 80%;
}

.play-pile {
  text-align: center;
  align-items: center;
}

#deck-area {
  width: 25%;
  text-align: left;
  padding: 1%;
}

#play-area {
  height: 100%;
  width: 50%;
  display: flex;
}

#play-total {
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  font-size: 30px;
}

#crib-area {
  width: 25%;
  padding: 1%;
}


#action-button {
  width: 40%;
}

#action-button:enabled {
  background: #1CA1F2;
}

.points-message {
  color: #37434D;
  font-size: 15px;
  padding: 2px 0;
}

.chat-message {
  padding: 2px 0;
}

.webmaster-warning {
  position: fixed;
  bottom: 10px;
  font-size: 10px;
}

