html, body {
  height: 100%;
  background-color: rgb(21, 32, 43)!important;
  text-align: center;
}

.lobby, .game {
  background: rgb(21, 32, 43);
  color: #D3D3D3;
  height: 100%;
}

#join {
  display: flex;
  flex-direction: column;
}

#play_game {
  margin: auto;
}

.join-game-input {
  margin-bottom: 0!important;
}

.joinErrorMessage {
    width: 100%;
    margin: 0 30%;
    color: pink;
    font-size: 12px;
    text-align: center;
}

#leave-game {
  position: absolute;
  top: 0;
  right: 10px;
}

.row {
  padding: 10px 0;
}

.col-3, .col-11 {
  height: 100%;
}

.col-3 {
  padding-right: 0!important;
}

table {
  background: transparent;
}

.panel {
  border: 1px solid #37434D;
  align-items: center;
  justify-content: center;
}

.panel-heading {
  border-bottom: 1px solid #37434D;
  padding: 10px;
  display: flex;
  align-items: center;
}

.panel-body {
  padding: 10px;
}

.game-log-container {
  height: 100%;
  text-align: left;
  position: relative;
}

.game-log-header {
  border-bottom: 1px solid #37434D;
  padding: 10px;
}

.game-log {
  padding: 10px 15px;
  height: 80%;
  width: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  background: rgb(21, 32, 43);
  z-index: -1;
}
::-webkit-scrollbar-track {
  background: rgb(21, 32, 43);
}
::-webkit-scrollbar-corner {
  background: rgb(21, 32, 43);
}

#message-content {
  display: block;
  background: #263341;
  border: 1px solid #263341;
  color: #fafafa;
}

#send_message {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 10px 0;
}

#send_message_button {
  display: block;
}

.opponents {
  height: 30%;
  align-items: center;
  justify-content: center;
}

.opponent {
  display: inline-block;
  border: 1px solid #37434D;
  height: 100%;
  width: 40%;
  margin: 0 10px;
  position: relative;
}

.cribbage-table {
  height: 30%;
  text-align: center;
  align-items: center;
  padding: 10px 0;
}

.player {
  height: 40%;
}

.player-nickname {
  width: 50%;
  text-align: left;
}

.player-status {
  width: 50%;
  text-align: right;
}

.dealer-icon {
  padding-right: 5px;
  color: gold;
}

.current-turn-icon {
  padding-right: 5px;
  color: #1CA1F2;
}

.player-action, .player-cards {
  display: inline-block;
}

.player-play-area {
  height: 60%;
}

.opponent-play-area {
  height: 100%;
}

.play-pile {
  text-align: center;
}

#deck-area {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;;
}

.count-container {
  height: 25%;
  display: inline-flex;
}

.count-text {
  display: none;
  margin-top: auto;
}

.deck-container {
  display: inline-flex;
  text-align: left;
  height: 75%;
}

#play-area {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.scoreboard-container {
  margin: auto;
}

#play-total {
  margin-left: 0.25em;
  margin-top: auto;
  font-size: 16px;
}

.crib {
  height: 100%;
  width: 30%;
  text-align: center;
}

.crib-area {
  display: inline;
}

.action-button-container {
  width: 100%;
  height: 20%;
  text-align: center;
}

#action-button {
  width: 50%;
  height: 85%;
}

#action-button:enabled {
  background: #1CA1F2;
}

.points-message {
  color: #37434D;
  font-size: 15px;
  padding: 2px 0;
}

.chat-message {
  padding: 2px 0;
}

.webmaster-warning {
  position: fixed;
  bottom: 10px;
  font-size: 10px;
}

table, th, tr, td {
  background: transparent!important;
}
table {
  border-style: hidden;
}
th, td {
  font-size: 18px;
}

.scoreboard td {
    text-align: center;
    vertical-align: middle;
}

.winner {
  color: #FFD700;
  padding: 5px;
}

.player-status-update {
    position: absolute;
    z-index: 20;
    width: 100%;
    padding: 5px;
    margin: -10px 5px;
    background: #84BE6A;
    opacity: 100%;
    text-align: center;
    font-size: 20px;
}

.crib-status-update {
  position: absolute;
  z-index: 20;
  width: 28.5%;
  padding: 5px;
  background: #84BE6A;
  text-align: center;
  font-size: 20px;
}