/* GENERAL LAYOUT */
html, body {
  height: 100%;
  background-color: rgb(21, 32, 43)!important;
  text-align: center;
}

.lobby, .game {
  background: rgb(21, 32, 43);
  color: #D3D3D3;
  height: 100%;
  padding: 10px;
  margin: auto!important;
}

#leave-game {
  position: absolute;
  top: 5px;
  right: 5px;
}

.row {
  padding: 10px 0;
}

.col-3, .col-11 {
  height: 100%;
}

.panel {
  border: 1px solid #37434D;
  align-items: center;
  justify-content: center;
}

.panel-heading {
  border-bottom: 1px solid #37434D;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.panel-body {
  padding: 10px;
}
/* END GENERAL LAYOUT */


/* LOBBY*/
#join {
  display: flex;
  flex-direction: column;
}

#play_game {
  margin: auto;
}

.join-game-input {
  margin-bottom: 0!important;
}

.announcement {
  width: 100%;
  margin: 0 30%;
  color: pink;
  font-size: 16px;
  text-align: center;
}

.joinErrorMessage {
  width: 100%;
  margin: 0 30%;
  color: pink;
  font-size: 12px;
  text-align: center;
}

.webmaster-warning {
  position: fixed;
  bottom: 10px;
  font-size: 10px;
}
/*END LOBBY*/


/*  CHAT LOG  */
.game-log-container {
  height: 100%;
  text-align: left;
  position: relative;
}

.game-log-header {
  display: none;
  border-bottom: 1px solid #37434D;
  padding: 10px;
  margin: 0 -15px 0 -15px;
}

.game-log {
  height: 80%;
  width: 100%;
  overflow-y: scroll;
  padding-top: 5px;
  font-size: 12px;
}

::-webkit-scrollbar {
  background: rgb(21, 32, 43);
  z-index: -1;
}
::-webkit-scrollbar-track {
  background: rgb(21, 32, 43);
}
::-webkit-scrollbar-corner {
  background: rgb(21, 32, 43);
}

#message-content {
  display: block;
  background: #263341;
  border: 1px solid #263341;
  color: #fafafa;
  height: 100%;
}

#send_message {
  position: absolute;
  bottom: 0;
  margin: 10px 0;
  width: 90%;
  height: 40px;
}

#send_message_button {
  display: block;
}

.points-message {
  color: #C0C0C0;
  font-size: 12px;
  padding: 2px 0;
}

.chat-message {
  padding: 2px 0;
}

.gif-message {
  display: inline-flex;
}

.embedded-gif {
  border: none;
  width: 90%;
  padding: 5px;
}
/*  END CHAT LOG  */


/*  TOP ROW  */
.opponents {
  height: 25%;
  align-items: center;
  justify-content: center;
}

.opponent {
  display: inline-block;
  border: 1px solid #37434D;
  height: 100%;
  width: 70%;
  max-width: 300px;
  margin: 0 10px;
  position: relative;
}
/*  END TOP ROW  */


/*  MIDDLE ROW  */
.middle-area {
  height: 45%;
  text-align: center;
  align-items: center;
  padding: 10px 15px;
}


.deck-area {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.deck-container {
  height: 75%;
  display: inline-flex;
}

.count-container {
  height: 25%;
  display: inline-flex;
  margin: auto;
}

.count-text {
  margin-top: auto;
  display: none;
}

#play-total {
  margin-left: 0.25em;
  margin-top: auto;
  font-size: 16px;
}

.peg-board {
  display: none;
  height: auto;
  border: 1px solid #37434D;
  background: #E1C699;
  color: rgb(21, 32, 43);
}

.player-track {
  width: 100%;
  padding: 10px;
  height: 3rem;
}

.player-track-name {
  text-align: right;
}

.player-track-bar {
  height: 30px;
  width: 80%;
}

.progress {
  height: 25px!important;
  padding: 0!important;
  background: white!important;
}
/*  END MIDDLE ROW  */


/*  BOTTOM ROW  */
.player {
  height: 30%;
  margin: auto;
  width: 100%;
}

.player.desktop {
  width: 70%;
}

.player-nickname {
  width: 50%;
  text-align: left;
}

.player-status {
  width: 50%;
  text-align: right;
}

.player-cards {
  display: inline-block;
  margin: 0;
  text-align: center;
}

.player-play-area {
  height: 75%;
}

.opponent-play-area {
  height: 80%;
}

.play-pile {
  height: 100%;
  text-align: center;
}

.action-button-container {
  width: 50%;
  height: 20%;
  text-align: right;
}

#action-button {
  width: auto;
  height: 85%;
}

#action-button:enabled {
  background: #1CA1F2;
}
/* END BOTTOM ROW  */

.winner {
  color: #FFD700;
  padding: 5px;
}

/*JOKER SELECTION*/
div.card-selector-ranks-row {
  display: table;
  width: 100%;
  table-layout: fixed;    /* For cells of equal size */
  margin: 20px 0;
}
div.card-selector-ranks-row span {
  display: table-cell;
  text-align: center;
  font-size: 24px;
}
.joker-rank-selection.selected {
  border: 2px solid blue;
  border-radius: 10%;
}

div.card-selector-suits-row {
  text-align: center;
  width: 100%;
  margin: 20px 0;
}

.joker-suit-selection {
  width: 15%;
  padding: 5px;
  margin: auto 10px;
}
.joker-suit-selection.selected {
  border: 2px solid blue;
  border-radius: 10%;
}

.blob, .piggy {
  background-repeat: no-repeat;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
}