.blob {
  background-repeat: no-repeat;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
}

.hype {
  background-image: url('/static/img/blobs/yay.gif');;
}
.smile {
    background-image: url('/static/img/blobs/smile.gif');
}
.sigh {
    background-image: url('/static/img/blobs/sigh.gif');
}
.wink {
  background-image: url('/static/img/blobs/wink.gif');
}
.bored {
    background-image: url('/static/img/blobs/bored.gif');
}
.sad {
    background-image: url('/static/img/blobs/sad.gif');
}
.gimme {
    background-image: url('/static/img/blobs/gimme.gif');
}
.rage {
    background-image: url('/static/img/blobs/rage.gif');
}
.panic {
    background-image: url('/static/img/blobs/panic.gif');
}
.grimace {
    background-image: url('/static/img/blobs/grimace.gif');
}
.wat {
    background-image: url('/static/img/blobs/wat.gif');
}
.bongo {
    background-image: url('/static/img/blobs/bongo.gif');
}
.party {
  background-image: url('/static/img/blobs/party.gif');
}
.cheers {
    background-image: url('/static/img/blobs/cheers.gif');
}
.conga {
    background-image: url('/static/img/blobs/conga.gif');
}
.yay {
    background-image: url('/static/img/blobs/yay.gif');
}
.mad {
  background-image: url('/static/img/blobs/mad.gif');
}
.nervous {
  background-image: url('/static/img/blobs/nervous.gif');
}
.sweating {
  background-image: url('/static/img/blobs/sweating.gif');
}
.stare {
  background-image: url('/static/img/blobs/stare.gif');
}
.dancer {
    background-image: url('/static/img/blobs/dancer.gif');
}
.tada {
    background-image: url('/static/img/blobs/tada.gif');
}
.babyangel {
  background-image: url('/static/img/blobs/babyangel.gif');;
}
.goodnight {
  background-image: url('/static/img/blobs/goodnight.gif');;
}
.yep {
    background-image: url('/static/img/blobs/yep.gif');
}
.nope {
    background-image: url('/static/img/blobs/nope.gif');
}
.aww {
  background-image: url('/static/img/blobs/aww.gif');;
}
.dundundun {
  background-image: url('/static/img/blobs/dundundun.gif');;
}
.kiss {
  background-image: url('/static/img/blobs/kiss.gif');;
}
.wave {
  background-image: url('/static/img/blobs/wave.gif');;
}

