/* PLAYER CARDS */
.player-cards {
  margin: auto;
  text-align: center;
  height: 100%;
}

.player-card {
  height: 90%;
  z-index: 1;
  margin: 0 -1.5em;
}

.player-card.selected {
  z-index: 2;
  height: 100%;
}
.player-card.played {
  margin: 0 -3em 0 -1em;
}
.player-card.scored {
  margin: 0 -1em;
}


/* OPPONENT CARDS */
.opponent-cards {
  margin: auto;
  text-align: center;
  height: 100%;
}

.opponent-card {
  height: 70%;
  z-index: 1;
  margin: 0 -2.5em 0 -2.5em;
}

.opponent-card.played {
  z-index: 2;
  margin: 0 -5em 0 0;

}
.opponent-card.scored {
  margin: 0 -1.5em 0 -1.5em;
}


/* OTHER CARD TYPES */
#deck {
  height: 75%;
  margin-top: auto;
  margin-bottom: auto;
}

.cut-card {
  height: 75%;
  width: auto;
  margin: auto -4em auto;
}
.crib-card {
  height: 60%;
  margin: 10px -2em;
}
.crib-card.scored {
  margin: 1em -1.5em;
}