.card {
  height: 100px;
  z-index: 1;
  display: inline;
  background: none;
  border: none;
  margin: 0 -1em;
}
.card.selected {
  z-index: 2;
}
.card.to-be-played {
  margin: 0 -1em;
}
.card.played {
  margin: 0 -1em;
}
.card.scored {
  margin: 0 -.5em;
}

/* OTHER CARD TYPES */
#deck {
  height: 105px;
  margin: auto;
}

.cut-card {
  height: 100px;
  margin: auto;
  z-index: 2;
}

.crib-card {
  height: 100px;
  margin: 0 -1em;
}

@media only screen and (max-width: 650px) {
  /* player cards */
  .card {
    margin: 0 -1em;
  }
  .card.to-be-played {
    margin: 0 -1em;
  }
  .card.played {
    margin: 0 -2em;
  }
  .card.scored {
    margin: 0 -1em;
  }
}