/* PLAYER CARDS */
.player-cards {
  margin: auto;
  text-align: center;
}

.player-card {
  height: 80%;
  z-index: 1;
  margin: 20px -.5em 0;
}

.player-card.selected {
  z-index: 2;
}

.player-card.to-be-played {
  margin: 20px -1em;
}
.player-card.played {
  margin: 0 -1.5em;
}
.player-card.scored {
  margin: 0;
}


/* OPPONENT CARDS */
.opponent-card {
  height: 70%;
  z-index: 1;
  margin: 0 -.5em;
}

.opponent-card.played {
  z-index: 2;
  margin: 0 -3em 0 -0.5em;
  height: 90%;
}
.opponent-card.to-be-played {
  margin: 0 -1.5em;
  height: 90%;
}
.opponent-card.scored {
  margin: 0 -.5em;
  height: 90%;
}


/* OTHER CARD TYPES */
#deck {
  width: 90%;
  max-width: 100px;
  margin: auto;
}

.cut-card {
  width: 95%;
  max-width: 100px;
  margin: auto;
  z-index: 2;
}

.crib-card {
  height: 90%;
  margin: 0 -1em;
}