@media (max-width: 768px) {
  #leave-game {
    right: 0;
  }
  #deck {
    width: 65px;
  }
  .crib-card, .cut-card, .opponent-card {
    width: 70px;
  }
  .opponent {
    width: 70%;
   }
  .opponent-card {
    margin-left: -20px;
  }
  .player-card {
    width: 80px;
  }
  .player-card.selected {
    width: 90px;
    z-index: 10;
  }
}

@media (max-width: 500px) {
  .player-card {
    width: 75px;
  }
  .player-card.selected {
    width: 85px;
  }
  .opponent-card, .crib-card {
    margin-right: -30px;
  }
  #deck {
    width: 60px;
  }
  .crib-card, .cut-card, .opponent-card {
    width: 65px;
  }
}