@media (max-width: 768px) {
  #leave-game {
    right: 0;
  }
  .opponent {
    width: 70%;
   }
}

@media (max-width: 500px) {
  #deck {
    width: 60px;
  }
  .cut-card {
    width: 75px;
  }
  .crib-card {
    height: 50%;
  }
  .player-card {
    margin: 0 -25px;
    height: 75%;
  }
  .cut-card {
    margin: 0 -50px;;
  }
  .opponent-card.scored {
    height: 50%;
  }
}

@media (max-width: 500px) {
  .crib-card.scored {
    margin: 10px -30px;
  }
}