@media (max-width: 768px) {
  #leave-game {
    right: 0;
  }
  .opponent {
    width: 70%;
   }
  .opponent-card {
    margin-left: -20px;
    width: 75px
  }
  .playedOpponentCard {
    width: 75px;
  }
  .player-card {
    width: 90px;
    margin-left: -10px;
  }
  .player-card.selected {
    opacity: 95%;
    width: 100px;
    z-index: 10px;
  }
  .player-play-area {
    height: 60%;
  }
  .action-button-container {
      height: 45%;
  }
  #action-button {
      width: 100%;
      height: 100%;
  }
}

@media (max-width: 500px) {
  .player-card {
    width: 75px;
  }
  .player-card.selected {
    width: 85px;
  }
  .player-card, .opponent-card {
    margin-right: -20px;
  }
}