<html xmlns="http://www.w3.org/1999/html">
  <head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/cards.css">
    {{ fontawesome_css() }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ game.name }}</title>
    <script src="/static/js/lib/socketio.min.js"></script>
    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/jquery-ui.min.js"></script>
    <script src="/static/js/lib/bootstrap.min.js"></script>
    <script type="module" src="/static/js/app.js"></script>
  </head>
  <body>
      <div class="game row container justify-content-center h-100 bg-gradient-dark text-white">
        <div class="game-play-container col-12">
          <div class="opponents row-fluid d-flex justify-content-center">
              {% for name, points in opponents.items() %}
                <div id="{{ name }}" class="opponent rounded panel panel-default">
                  <div class="panel-heading">
                    <span class="player-nickname">{{ name }}</span>
                    <span class="player-status"></span>
                  </div>
                  <div class="row opponent-play-area panel-body">
                    <div id="{{ name }}-cards" class="player-cards col-12"></div>
                  </div>
                </div>
              {% endfor %}
          </div>
          <button id="leave-game" type="submit" class="btn btn-outline-danger"><i class="fa fa-times"></i></button>


            <div class="middle-area row">
              <!--CHAT LOG-->
              <div class="col-9 game-log-container rounded panel">
                <div class="game-log-header">
                  <span>chat</span>
                </div>
                <div class="game-log"></div>
                <form id="send_message" class="input-group" method="POST" action='#'>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="fas fa-smile-o"></span>
                    </div>
                    <input type="text" class="form-control" name="message-content" id="message-content" placeholder="message">
                    <div class="input-group-append">
                      <button id="send_message_button" class="btn btn-secondary btn-sm" type="submit">
                        <span class="fas fa-paper-plane"></span>
                      </button>
                    </div>
                  </div>
                </form>
              </div>

              <!--DECK, CUT CARD-->
              <div class="deck-area col-2">
                <div class="deck-container">
                  <img id="deck" src="/static/img/cards/facedown.png" alt="This the deck">
                </div>
              </div>
            </div>
            <div class="scoreboard row">
            <div class="peg-board-buffer buffer-left col-1"></div>
            <div class="peg-board col-10 rounded"></div>
            <div class="peg-board-buffer buffer-right col-1"></div>
            </div>

            <!--player area-->
            <div id="{{ player_name }}" class="player rounded panel panel-default">
              <div class="panel-heading">
                <span class="player-nickname">{{ player_name }}</span>
                <div class="action-button-container">
                  <button id="action-button" type="button" class="btn btn-outline-dark">START</button>
                </div>
              </div>
              <div class="row player-play-area panel-body">
                <div id="{{ player_name }}-cards" class="player-cards h-100 col-12"></div>
              </div>
            </div>
          </div>
       </div>

    {% include 'startModal.html' %}
    {% include 'jokerModal.html' %}

    <script>
      function displayDesktop() {
        let gameLogContainer = $('.game-log-container');
        let gamePlayContainer = $('.game-play-container');
        let game = $('.game');
        game.prepend(gameLogContainer);
        gameLogContainer.removeClass('col-9').addClass('col-3');
        gamePlayContainer.removeClass('col-12').addClass('col-9');
        $('.game-log-header').show();

        $('.peg-board').insertAfter('.deck-area');
      }

      function displayMobile() {
        let gamePlayContainer = $('.game-play-container');
        let gameLogContainer = $('.game-log-container');
        let middleArea = $('.middle-area');
        middleArea.prepend(gameLogContainer);
        gameLogContainer.removeClass('col-3').addClass('col-9');
        gamePlayContainer.removeClass('col-9').addClass('col-12');

        $('.deck-area').insertAfter('.game-log-container');
        $('.peg-board').insertAfter('.buffer-left');
        $('.game-log-header').hide();

        $('.player').removeClass('desktop');
      }

      $(document).ready(function() {
        if ($( window ).width() >= 768) {
          displayDesktop();
        }
        $('#select-joker').prop('disabled', true);
      });

      $(window).on('resize', function() {
        if($(document.activeElement).attr('type') === 'text') {
          // ignore resizes if keyboard is active
        } else {
         if ($( window ).width() >= 768) {
           displayDesktop()
         } else {
           displayMobile()
         }
        }
      });
    </script>
  </body>
</html>