<html>
    <head>
        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        {{ fontawesome_css() }}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Lobby</title>
        <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="lobby">
            <div class="h-100 row align-items-center">
                <form id="join" class="pure-form" method="POST" action='/game'>
                  <div class="input-group">
                    <input type="text" name="join_nickname" id="join_nickname" placeholder="nickname">
                    <input type="text" name="join_game_name" id="join_game_name" placeholder="game name">
                    <div class="input-group-append">
                      <button class="btn btn-secondary btn-sm" type="submit">
                        Join
                      </button>
                    </div>
                  </div>
                </form>
            </div>
        </div>
    </body>
    <script>
      $(document).ready(function() {
        $('form#join').submit(function (event) {
          let nickname = $('#join_nickname').val();
          let gameName = $('#join_game_name').val();
          sessionStorage.setItem('nickname', nickname);
          sessionStorage.setItem('gameName', gameName);
        });
      });
    </script>
</html>
