<!-- Joker selection -->
<div class="modal" id="joker-selector" tabindex="-1" role="dialog" aria-labelledby="joker-selector-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="jokerSelectorLabel">You got a joker!</h5>
      </div>
      <div class="modal-body">
        <span>You can turn it into any card you like.</span>
        <div class="card-selector-ranks-row">
          <span class="joker-rank-selection" data-value="Ace">A</span>
          <span class="joker-rank-selection" data-value="Two">2</span>
          <span class="joker-rank-selection" data-value="Three">3</span>
          <span class="joker-rank-selection" data-value="Four">4</span>
          <span class="joker-rank-selection" data-value="Five">5</span>
          <span class="joker-rank-selection" data-value="Six">6</span>
          <span class="joker-rank-selection" data-value="Seven">7</span>
          <span class="joker-rank-selection" data-value="Eight">8</span>
          <span class="joker-rank-selection" data-value="Nine">9</span>
          <span class="joker-rank-selection" data-value="Ten">10</span>
          <span class="joker-rank-selection" data-value="Jack">J</span>
          <span class="joker-rank-selection" data-value="Queen">Q</span>
          <span class="joker-rank-selection" data-value="King">K</span>
        </div>
        <div class="card-selector-suits-row">
          <img class="joker-suit-selection" data-value="hearts" src="/static/img/cards/hearts" />
          <img class="joker-suit-selection" data-value="spades" src="/static/img/cards/spades" />
          <img class="joker-suit-selection" data-value="diamonds" src="/static/img/cards/diamonds" />
          <img class="joker-suit-selection" data-value="clubs" src="/static/img/cards/clubs" />
        </div>
        <button id="select-joker" class="btn btn-default btn-primary btn-block"><span class="glyphicon glyphicon-off"></span>Select</button>
      </div>
    </div>
  </div>
</div>

<script>
  let submitButton = $("#select-joker");

  function updateSubmitButton() {
    let rank = $('.joker-rank-selection.selected').data('value');
    let suit = $('.joker-suit-selection.selected').data('value');
    submitButton.text(rank + ' of ' + suit);
    submitButton.prop('disabled', false);
  }

  $(document).on('click', '.joker-rank-selection', function(e) {
    $('.joker-rank-selection').removeClass('selected');
    $(this).toggleClass('selected');
    if ($('.joker-suit-selection.selected').length === 1) {
      updateSubmitButton();
    }
  });

  $(document).on('click', '.joker-suit-selection', function(e) {
    $('.joker-suit-selection').removeClass('selected');
    $(this).toggleClass('selected');
    if ($('.joker-rank-selection.selected').length === 1) {
      updateSubmitButton();
    }
  });
</script>