 <!-- Start menu -->
<div class="modal fade" id="game-summary" tabindex="-1" role="dialog" aria-labelledby="game-summary-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Game Summary</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">player</th>
              <th scope="col">from play</th>
              <th scope="col">from hand</th>
              <th scope="col">from crib</th>
              <th scope="col">total</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>