html, body {
    background: #344152!important;
}
.game {
  display: none;
  background: #344152;
}

.navbar {
    margin: 0px -15px;
    height: 6%;
}

.navbar.dark-mode{
  background:#D8E6F1;
}

.panel {
    /*border: 1px solid #596C56;*/
    background: #E8E8E8;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.game-area {
  height: 63%;
  margin: 10px -15px;
}

.game-log-container {
  height: 100%;
  text-align: left;
  position: relative;
}

#game-log {
  text-align: bottom;
}

#send_message {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 90%;
}

#message_content {
  display: block;
}

#send_message_button {
  display: block;
}

.scoreboard {
    height: 100%;
    margin: 0 10px;
    align-items: center;
    justify-content: center;
}

.scoreboard-player-area {
    display: inline-block;
    background: #3A3A38;
    color: #F5F5F5;
    padding: 5%;
    width: 45%;
    height: 45%;
    margin: 2%;
}

/*.scoreboard-player-area:first-child {*/
/*    margin-right: 5%px;*/
/*} */


.deck-area {
    height: 100%;
}

.player-area {
    height: 25%;
}

.playerCard {
    width: 100px;
    padding: 5px;
}

ul {
  width:auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}



.action-button {
    background: rgb(28, 184, 65);
    display:block;
    margin: 10%;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid white;

}

.button-error {
    color: #fafafa;
    background: rgb(202, 60, 60);
}

/*  COLORS  */
.black {
  background: #333333;
}

.navy {
  background: #173753;
}

.blue {
  background: #2274A5;
}

.pink {
  background: #F4C3C2;
}

.almond {
  background: #DECBB7;
}

.white {
  background: #FAF8F2;
}
