html, body {
    height: 100%;
    background: #344152!important;
}
.game {
  background: #344152;
  color: #D3D3D3;
  height: 100%;
}

.span10 {
    height: 100%;
}

.panel {
    border: 1px solid #404040;
    background: #343a40;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.game-log-container {
  height: 95%;
  margin: 5% 0;
  text-align: left;
  position: relative;
}

#game-log {
  text-align: bottom;
}

#send_message {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 93%;
}

#message_content {
  display: block;
}

#send_message_button {
  display: block;
}

.opponents {
    height: 30%;
    margin: 1% 0;
    align-items: center;
    justify-content: center;
}

.opponent {
    display: inline-block;
    background: #3A3A38;
    height: 90%;
    margin: 1%;
    width: 25%;
}

.opponentCard {
    width: 40px;
    margin: 0 -10px;
}


.cribbage-table {
    height: 29%;
}

.player {
    height: 35%;
}

.player-action, .player-cards, .player-leave {
    display: inline-block;
}
.player-action, .player-leave {
    width: 15%;
}
.player-cards {
    width: 65%;
    display: flex;
    justify-content: center;
}

.list-group-item {
    padding: 2!important;
    background: transparent!important;
}

.playerCard {
    width: 75px;
}

ul {
  width:auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}



.action-button {
    background: rgb(28, 184, 65);
    display:block;
    margin: 10%;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid white;

}

.button-error {
    color: #fafafa;
    background: rgb(202, 60, 60);
}

.alert{
    display: none;
}

/*.game-alert{*/
/*    position: absolute;*/
/*    bottom: 5px;*/
/*    left:2%;*/
/*    width: 96%;*/
/*}*/



/*  COLORS  */
.black {
  background: #333333;
}

.navy {
  background: #173753;
}

.blue {
  background: #2274A5;
}

.pink {
  background: #F4C3C2;
}

.almond {
  background: #DECBB7;
}

.white {
  background: #FAF8F2;
}
