html, body {
    height: 100%;
    background: rgb(21, 32, 43);
}

.lobby, .game {
  background: rgb(21, 32, 43);
  color: #D3D3D3;
  height: 100%;
}

#join {
    margin-left: 38%;
}

.row {
  padding: 10px 0;
}

.col-3, .col-11 {
  height: 100%;
}

.col-3 {
  padding-right: 0!important;
}

.panel {
    border: 1px solid #37434D;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.panel-heading {
    border-bottom: 1px solid #37434D;
    padding: 10px;
}

.panel-body {
    padding: 10px;
}

.game-log-container {
  height: 100%;
  text-align: left;
  position: relative;
}

.game-log-header {
    border-bottom: 1px solid #37434D;
    padding: 10px;
}

#game-log {
  position: absolute;
  bottom: 100px;
  padding: 0 15px;
}

#message_content {
  display: block;
  background: #263341;
  border: 1px solid #263341;
  color: #fafafa;
}

#send_message {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 10px 0;
}

#send_message_button {
  display: block;
}

.opponents {
    height: 30%;
    align-items: center;
    justify-content: center;
}

.opponent {
    display: inline-block;
    border: 1px solid #37434D;
    height: 100%;
    width: 25%;
    margin: 0 10px;
}

.opponentCard {
    width: 40px;
    margin: 0 -10px;
}

.cribbage-table {
    height: 30%;
    text-align: center;
    padding: 15px;
}

.player {
    height: 40%;
}

.player-points {
    float: right;
}

.dealer-icon {
    padding-right: 5px;
    color: gold;
}

.current-turn-icon {
    padding-right: 5px;
    color: #1CA1F2;
}

.player-action, .player-cards, .player-leave {
    display: inline-block;
}
.player-action, .player-leave {
    width: 15%;
}
.player-cards {
    width: 65%;
    display: flex;
    justify-content: center;
}

.list-group-item {
    padding: 2!important;
    background: transparent!important;
}

.list-group-item.selected {
  opacity: 75%;
}


.playerCard {
    width: 75px;
}

.playedCard {
  width: 75px;
  margin: 0 -25px;
}

.cribCard {
    width: 75px;
    height: auto;
    margin: 0 -25px;
    transition: transform 0.25s linear;
}

#deck-area {
    width: 25%;
    text-align: left;
}
.cutCard {
    margin: 0 -60px;
    width: 80px;
}
#play-area {
    width: 50%;
    text-align: left;
}
#crib-area {
    width: 25%;
}


ul {
  width:auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}



.action-button {
    background: rgb(28, 184, 65);
    display:block;
    margin: 10%;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid white;

}
