<div class="game container-xl rounded">
    <nav class="navbar navbar-light bg-light rounded panel">
      <span id="game-name" class="navbar-brand mb-0 h1"></span>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="light-mode" id="activate-light-mode" autocomplete="off" checked>
            <i class="fas fa-sun"></i>
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="dark-mode" id="activate-dark-mode" autocomplete="off">
          <i class="fas fa-moon"></i>
        </label>
    </div>
    </nav>
    <div class="game-area row">
        <div class="game-log-container col rounded panel">
            <b>Game log</b>
            <div id="game-log"></div>
            <form id="send_message" class="input-group" method="POST" action='#'>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" name="game_data" id="game_data" placeholder="Message">
                  <div class="input-group-append">
                    <button id="send_message_button" class="btn btn-secondary btn-sm" type="submit">
                        <span class="fas fa-paper-plane"></span>
                    </button>
                  </div>
                </div>
            </form>
        </div>
        <div class="col-6 scoreboard rounded panel">
            <ul class="list-group">
              <li class="list-group-item scoreboard-player">
                  <b><span id="player-name"></span></b>
                  <div class="progress" style="height: 20px;">
                    <div class="progress-bar" role="progressbar" style="width: 81%;" aria-valuemin="0" aria-valuemax="121">81</div>
                  </div>
              </li>
              <li class="list-group-item scoreboard-player">
                  <b><span>michelle</span></b>
                  <div class="progress" style="height: 20px;">
                    <div class="progress-bar" role="progressbar" style="width: 88%;" aria-valuemin="0" aria-valuemax="121">88</div>
                  </div>
              </li>
              <li class="list-group-item scoreboard-player">
                  <b><span>leah</span></b>
                  <div class="progress" style="height: 20px;">
                    <div class="progress-bar" role="progressbar" style="width: 67%;" aria-valuemin="0" aria-valuemax="121">67</div>
                  </div>
              </li>
              <li class="list-group-item scoreboard-player">
                  <b><span>dad</span></b>
                  <div class="progress" style="height: 20px;">
                    <div class="progress-bar" role="progressbar" style="width: 52%;" aria-valuemin="0" aria-valuemax="121">52</div>
                  </div>
              </li>
            </ul>

        </div>
        <div class="col deck-area rounded panel">
            <div id="deck">
                <img src="/static/img/cards/deck.png" width="100px" />
            </div>
        </div>
    </div>

    <div class="player-area row rounded panel">
        <div class="col">
            <button id="action-button" type="button" class="btn btn-primary btn-lg">Deal card</button>
        </div>
        <div class="col-6">
            <ul id="playerCards"></ul>
        </div>
        <div class="col">
            <form id="leave" method="POST" action='#'>
                <button type="submit" class="btn btn-outline-danger">Leave game</button>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#player-name').text(sessionStorage.getItem('nickname'));
        $('#game-name').text('Game: ' + sessionStorage.getItem('gameName'));
    });

    $('#activate-dark-mode').click(function (event) {
        $("body").css({"background-color":"#000000"});
        $('.game').css({"background-color":"#000000"});
        $('.game').css('color', '#F5F5F5');
        $('nav').removeClass('bg-light');
        $('nav').addClass('bg-dark');
        $('.navbar').css('color', '#F5F5F5');
        $('.panel').css('background', '#343a40');
        $('.panel').css('border', '1px solid #778899');
    });

    $('#activate-light-mode').click(function (event) {
        $("body").css({"background-color":"#F5F5F5"});
        $('.game').css('background', '#F5F5F5');
        $('.game').css('color', '#000000');
        $('nav').removeClass('bg-dark');
        $('nav').addClass('bg-light');
        $('.panel').css('background', 'white');
        $('.panel').css('border', '1px solid #D8E6F1');
    });

</script>