<div class="game container-xl rounded">
    <nav class="navbar navbar-light bg-dark rounded panel">
      <span id="game-name" class="navbar-brand mb-0 h1"></span>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="light-mode" id="activate-light-mode" autocomplete="off" checked>
            <i class="fas fa-sun"></i>
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="dark-mode" id="activate-dark-mode" autocomplete="off">
          <i class="fas fa-moon"></i>
        </label>
      </div>
    </nav>

    <div class="game-area row">
        <div class="game-log-container col rounded panel">
            <b>Game log</b>
            <div id="game-log"></div>
            <form id="send_message" class="input-group" method="POST" action='#'>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" name="message_content" id="message_content" placeholder="Message">
                  <div class="input-group-append">
                    <button id="send_message_button" class="btn btn-secondary btn-sm" type="submit">
                        <span class="fas fa-paper-plane"></span>
                    </button>
                  </div>
                </div>
            </form>
        </div>
        <div class="col-6 scoreboard rounded panel">
        </div>
        <div class="col deck-area rounded panel">
            <div id="deck">
                <img src="/static/img/cards/deck.png" width="100px" />
            </div>
        </div>
    </div>

    <div class="player-area row rounded panel">
        <div class="col">
            <button id="action-button" type="button" class="btn btn-dark btn-lg">Deal card</button>
        </div>
        <div class="col-6">
            <ul id="playerCards"></ul>
        </div>
        <div class="col">
            <form id="leave" method="POST" action='#'>
                <button type="submit" class="btn btn-outline-danger">Leave game</button>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#player-name').text(sessionStorage.getItem('nickname'));
        $('#game-name').text('Game: ' + sessionStorage.getItem('gameName'));
    });

    $('#activate-dark-mode').click(function (event) {
        $('body').attr('style', 'background-color: #000000 !important');
        $('.game').css({"background-color":"#000000"});
        $('.game').css('color', '#F5F5F5');
        $('.panel').css('background', '#343a40');
        $('.panel').css('border', '1px solid #8B7B8B');
    });

    $('#activate-light-mode').click(function (event) {
        $("body").css({"background-color":"#344152"});
        $('.game').css('background', '#344152');
        $('.game').css('color', '#F5F5F5');
        $('.panel').css('background', '#343a40');
        $('.panel').css('border', '1px solid #404040');
    });
</script>