<div class="game container-xl rounded">
    <nav class="navbar navbar-light bg-light">
      <span id="game-name" class="navbar-brand mb-0 h1"></span>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="light-mode" id="activate-light-mode" autocomplete="off" checked> Light mode
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="dark-mode" id="activate-dark-mode" autocomplete="off"> Dark mode
        </label>
    </div>
    </nav>
    <div class="game-area row">
        <div class="game-log col">
            <b>Game log</b>
            <div id="game-log"></div>
            <form id="send_message" method="POST" action='#'>
                <input type="text" name="game_data" id="game_data" placeholder="Message">
                <input type="submit" value="Send">
            </form>
        </div>
        <div class="col-6 scoreboard">
            <ul class="list-group">
              <li class="list-group-item scoreboard-player">
                  <b><span id="player-name"></span></b>
                  <div class="progress" style="height: 20px;">
                    <div class="progress-bar" role="progressbar" style="width: 81%;" aria-valuemin="0" aria-valuemax="121">81</div>
                  </div>
              </li>
              <li class="list-group-item scoreboard-player">
                  <b><span>michelle</span></b>
                  <div class="progress" style="height: 20px;">
                    <div class="progress-bar" role="progressbar" style="width: 88%;" aria-valuemin="0" aria-valuemax="121">88</div>
                  </div>
              </li>
              <li class="list-group-item scoreboard-player">
                  <b><span>leah</span></b>
                  <div class="progress" style="height: 20px;">
                    <div class="progress-bar" role="progressbar" style="width: 67%;" aria-valuemin="0" aria-valuemax="121">67</div>
                  </div>
              </li>
              <li class="list-group-item scoreboard-player">
                  <b><span>dad</span></b>
                  <div class="progress" style="height: 20px;">
                    <div class="progress-bar" role="progressbar" style="width: 52%;" aria-valuemin="0" aria-valuemax="121">52</div>
                  </div>
              </li>
            </ul>

        </div>
        <div class="col"></div>
    </div>

    <div class="player-area row">
        <div class="col">
            <button id="action-button" type="button" class="btn btn-primary btn-lg">Deal card</button>
        </div>
        <div class="col-6">
            <ul id="playerCards"></ul>
        </div>
        <div class="col">
            <form id="leave" method="POST" action='#'>
                <button type="submit" class="btn btn-outline-danger">Leave game</button>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#player-name').text(sessionStorage.getItem('nickname'));
    });
    $(document).ready(function() {
        $('#game-name').text('Game: ' + sessionStorage.getItem('gameName'));
    });
</script>