/* GENERAL LAYOUT */
html, body {
  height: 100%;
  background: #003333;
  color: #D3D3D3;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
  max-width: 960px;
  margin: auto;
  padding: 10px;
}

.box .row.header {
  flex: 0 1 auto;
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 250px;
}

.panel {
  border: 1px solid #8B7355;
  align-items: center;
  justify-content: center;
}
.panel-header {
  border-bottom: 1px solid #8B7355;
  padding: 10px;
  width: 100%;
  height: auto;
  display: inline-flex;
  align-items: center;
}

.game-log {
  height: 80%;
  width: 100%;
  overflow-y: scroll;
  padding-top: 5px;
  font-size: 12px;
}
/* END GENERAL LAYOUT */


/* LOBBY*/
#join {
  display: flex;
  flex-direction: column;
}

#play_game {
  margin: auto;
}

.join-game-input {
  margin-bottom: 0!important;
}

.announcement {
  width: 100%;
  margin: 0 30%;
  color: pink;
  font-size: 16px;
  text-align: center;
}

.joinErrorMessage {
  width: 100%;
  margin: 0 30%;
  color: pink;
  font-size: 12px;
  text-align: center;
}

.webmaster-warning {
  position: fixed;
  bottom: 10px;
  font-size: 10px;
}
/*END LOBBY*/


/*  CHAT LOG  */
.game-log-container {
  height: 100%;
  text-align: left;
  position: relative;
  padding: 0;
}

.game-log-header {
  border-bottom: 1px solid #FFF8DC;
  padding: 10px;
  margin: 0 -15px 0 -15px;
}

.game-log {
  height: 80%;
  width: 100%;
  overflow-y: scroll;
  padding: 10px;
  font-size: 12px;
}

::-webkit-scrollbar {
  background: #003333;
  z-index: -1;
}
::-webkit-scrollbar-track {
  background: #003333;
}
::-webkit-scrollbar-corner {
  background: #003333;
}

#message-content {
  display: block;
  background: #344152;
  border: 1px solid #263341;
  color: #fafafa;
  height: 100%;
}

#send_message {
  position: absolute;
  bottom: 0;
  padding: 10px;
  height: 40px;
}

#send_message_button {
  display: block;
}

.message {
  padding: 2px 0;
  color: white;
}

.action-message {
  color: #C0C0C0;
}

.score-message {
  color: #2E8B57;
}

.gif-message {
  display: inline-flex;
}

.embedded-gif {
  border: none;
  width: 90%;
  padding: 5px;
}
/*  END CHAT LOG  */


.peg-board {
  display: none;
  height: auto;
  border: 1px solid #37434D;
  background: #E1C699;
  color: rgb(21, 32, 43);
  padding: 10px;
}

.peg-board-buffer {
  display: none;
}

.player-track {
  width: 100%;
  padding: 10px;
  height: 3rem;
}

.player-track-name {
  text-align: right;
}

.player-track-bar {
  height: 30px;
  width: 80%;
}

.progress {
  height: 25px!important;
  padding: 0!important;
  background: white!important;
}
/*  END MIDDLE ROW  */


/*  BOTTOM ROW  */
.player-container {
  margin: 10px -15px;
}
.player {
  width: 100%;
}

.player-nickname {
  width: 50%;
  text-align: left;
}

.player-status {
  width: 50%;
  text-align: right;
}

.player-cards {
  margin: 0;
  text-align: center;
  min-height: 180px;
  padding: 10px;
}

.player-play-area {
  height: 75%;
}

.opponent-play-area {
  height: 80%;
}

.play-pile {
  height: 100%;
  text-align: center;
}

.action-button-container {
  width: 50%;
  height: 20%;
  text-align: right;
}

#action-button {
  width: auto;
  height: 85%;
}

#action-button:enabled {
  background: #1CA1F2;
}
/* END BOTTOM ROW  */

.winner {
  color: #FFD700;
  padding: 5px;
}

/*JOKER SELECTION*/
div.card-selector-ranks-row {
  display: table;
  width: 100%;
  table-layout: fixed;    /* For cells of equal size */
  margin: 20px 0;
}
div.card-selector-ranks-row span {
  display: table-cell;
  text-align: center;
  font-size: 24px;
}
.joker-rank-selection.selected {
  border: 2px solid blue;
  border-radius: 10%;
}

div.card-selector-suits-row {
  text-align: center;
  width: 100%;
  margin: 20px 0;
}

.joker-suit-selection {
  width: 15%;
  padding: 5px;
  margin: auto 10px;
}
.joker-suit-selection.selected {
  border: 2px solid blue;
  border-radius: 10%;
}

.blob, .piggy, .meow {
  background-repeat: no-repeat;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
}

table {
  background: transparent!important;
  border: 2px solid #E1C699;
  border-radius: 12px;
  text-align: center;
}

td {
  padding: 15px!important
}

.summary-header-name, .summary-player-name {
  text-align: left;
}